<p id="notice"><%= notice %></p>

<%= gravatar_for @user, size:150 %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>Articles by <%= @user.username %></h2>
<%= render 'articles/article', obj: @user.articles %>
